/*POPUP WINDOW */
#header a#popUp {
    background: #10A54A;
    color: #fff;
    font-size: 13px;
    padding: 8px 6px;
    float: right;
    margin-right: 15px;
}
.modalScr {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.29);
    margin: auto;
    overflow: auto;
    z-index: 99;
    display: none;
}
.modalCon {
    position: relative;
    display: inline-block;
    width: 55%;
    margin:15% auto;
    background: #fff;
    box-shadow: 0 1px 5px rgba(59, 60, 58, 0.47);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation: popup 0.4s ;
    -webkit-animation: popup 0.4s ;
}
@-webkit-keyframes popup {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes popup {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}
.close {
    color: #7F7F7F;
    float: right;
    font-size: 15px;
    font-weight: bold;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid rgb(146, 146, 146);
    padding-top: 3px;
    margin: 8px;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.modalTitle h2 {
    font-size: 22px;
    text-align: left;
    color: #3C443C;
}
.modalTitle {
    background: #ABD24D;
    padding: 15px;
}
.modalMain {
    padding: 45px 15px;
    background: #EEF9F2;
}
.modalMain select {
    width: 42%;
    height: 36px;
    border: none;
    outline: none;
    font-size: 15px;
    padding: 5px 8px;
    box-shadow: 0 1px 2px #B5B5B5;
}
.modalMain button {
    width: 20%;
    height: 36px;
    border: none;
    outline: none;
    font-size: 15px;
    padding: 5px 8px;
    box-shadow: 0 1px 2px #B5B5B5;
    margin-left: 13%;
    cursor: pointer;
}
.modalMain p a {
    text-decoration: none;
    display: inline-block;
}
.modalMain p {
    margin-top: 25px;
    margin-left: 13%;
}
.msgBx input {
    width: 40%;
    padding: 8px;
}
.modalMain ul li {
    display: block;
    text-align: left;
    margin-bottom: 15px;
}
.modalMain ul li label {
    width: 12%;
    display: inline-block;
}
.loader {
    border: 6px solid rgba(203, 205, 204, 0.65);
    border-top: 6px solid #55BF7F;
    visibility: hidden;
    border-radius: 50%;
    width: 27px;
    height: 27px;
    display: inline-block;
    animation: rotate 1s linear infinite;
    position: relative;
    top: 15px;
    left: 11px;
}

@keyframes rotate {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}