<!DOCTYPE html>
<html>
<head>

    <title>{{title}} {{version}}</title>
    <link href='{{hapiSwagger.endpoint}}/swaggerui/css/bootstrap.min.css' media='screen' rel='stylesheet'
          type='text/css'/>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <style>
        .mb50 {
            margin-bottom: 50px;
        }

        .mylogin {
            background-color: #ffffff;
            margin-top: 8%;
        }

        .login-box {
            background: none repeat scroll 0 0 #ffffff;
            color: #999999;
            margin: 5% auto;
            padding: 20px;
            position: relative;
            width: 300px;
            z-index: 1;
        }

        .login-box {
            color: #999999;
        }

        .login-content {
            text-align: center;
        }

        .login-box .login-form, .login-box .forgot-pass-box {
            padding: 15px 0;
        }

        input.ls-group-input, .ls-group-input {
            margin-bottom: 15px;
        }

        .mylogin > .login-form input {
            background-color: #ffffff;
            border: 1px solid #565656;
        }

        .login-box .login-form .input-group-addon, .login-box .forgot-pass-box .input-group-addon {
            background: none repeat scroll 0 0 #565656;
            border-color: #565656;
            color: #999999;
        }

        .login-box .login-form .login-btn-box, .login-box .forgot-pass-box .login-btn-box {
            margin: auto;
            text-align: center;
            width: 100%;
        }

        .w100 {
            width: 100%;
        }
    </style>
    <script src='{{hapiSwagger.endpoint}}/swaggerui/lib/jquery-1.8.0.min.js' type='text/javascript'></script>
</head>
<body>
<div class="mb50">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="login-box mylogin">
            <div class="login-content">
                <div class="">
                    <div class="impo">
                        <img src="{{logourl}}">
                    </div>
                </div>
            </div>
            <div class="login-form">
                <div id="form-login" class="form-horizontal ls_form">
                    <div class="input-group ls-group-input">
                        <input onKeyPress="return submitEnter(event)" class="form-control border-curve-left" type="text" maxlength="40"
                               placeholder="Enter User Name" id="name">
                        <span class="input-group-addon border-curve-right">
                            <i class="fa fa-user"></i>
                        </span>
                    </div>
                    <div class="input-group ls-group-input">
                        <input onKeyPress="return submitEnter(event)" class="form-control border-curve-left "
                               type="password"
                               maxlength="20" value="" name="password"
                               placeholder="Enter your Password" id="pass">
                    <span class="input-group-addon border-curve-right">
                         <i class="fa fa-lock"></i>
                    </span>
                    </div>
                    <div class="input-group ls-group-input login-btn-box ">
                        <button class="btn btn-success ladda-button center br5 border-curve-all" data-style="slide-down"
                                onclick="userLogin()"> Login
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>

<script>

    //validate Enter Key
    function submitEnter(e) {
        var keyCode;
        if (window.event) keyCode = window.event.keyCode; else if (e) keyCode = e.which; else return true;
        if (keyCode == 13) {
            userLogin();
            return false;
        } else return true;
    }

    //    login api call
    function userLogin() {
        if ($("#name").val() == '' || $("#name").val().length == 0) {
            alert("Please enter userId");
            return;
        }
        else if ($("#pass").val() == '' || $("#pass").val().length == 0) {
            alert("Please enter password");
            return;
        }
        else {
            var url = "{{loginEndpoint}}";
            var data = {name: $("#name").val(), password: $("#pass").val()}
            $.ajax({
                type: "POST", 		//GET or POST or PUT or DELETE verb
                url: url, 		// Location of the service
                data: data, 		//Data sent to server
                dataType: "json", 	//Expected data format from server
                success: function (response) {//On Successful service call
                    // console.log(response);
                    location.reload();
                },
                error: function (err) {// When Service call fails
                    err = JSON.parse(err.responseText);
                    if (err.message)
                        alert(err.message);
                    else
                        alert("Internal Server Error");
                    //console.log(err);
                }
            });
        }
    }
</script>
</html>