<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{title}} {{version}}</title>
    <link href='https://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'/>
    <link href='{{hapiSwagger.endpoint}}/swaggerui/css/highlight.default.css' media='screen' rel='stylesheet'
          type='text/css'/>
    <link href='{{hapiSwagger.endpoint}}/swaggerui/css/screen.css' media='screen' rel='stylesheet' type='text/css'/>
    <link href='{{hapiSwagger.endpoint}}/swaggerui/css/style.css' media='screen' rel='stylesheet' type='text/css'/>
    <script src="{{hapiSwagger.endpoint}}/swaggerui/lib/shred.bundle.js" type="text/javascript"></script>
    <script src='{{hapiSwagger.endpoint}}/swaggerui/lib/jquery-1.8.0.min.js' type='text/javascript'></script>
    <script src='{{hapiSwagger.endpoint}}/swaggerui/lib/jquery.slideto.min.js' type='text/javascript'></script>
    <script src='{{hapiSwagger.endpoint}}/swaggerui/lib/jquery.wiggle.min.js' type='text/javascript'></script>
    <script src='{{hapiSwagger.endpoint}}/swaggerui/lib/jquery.ba-bbq.min.js' type='text/javascript'></script>
    <script src='{{hapiSwagger.endpoint}}/swaggerui/lib/handlebars-1.0.0.js' type='text/javascript'></script>
    <script src='{{hapiSwagger.endpoint}}/swaggerui/lib/underscore-min.js' type='text/javascript'></script>
    <script src='{{hapiSwagger.endpoint}}/swaggerui/lib/backbone-min.js' type='text/javascript'></script>
    <script src='{{hapiSwagger.endpoint}}/swaggerui/lib/swagger.js' type='text/javascript'></script>
    <script src='{{hapiSwagger.endpoint}}/swaggerui/swagger-ui.js' type='text/javascript'></script>
    <script src='{{hapiSwagger.endpoint}}/swaggerui/lib/highlight.7.3.pack.js' type='text/javascript'></script>
    <script src='{{hapiSwagger.endpoint}}/custom.js' type='text/javascript'></script>
    <script type="text/javascript">
        $(function () {


            // build url for JSON url that describes API
            var url = window.location.protocol + '//' + window.location.host + '{{hapiSwagger.endpointPath}}' + '{{hapiSwagger.endpoint}}';
            if (getQueryStringValue('tags')) {
                url += '?tags=' + getQueryStringValue('tags');
            }


            // build the swagger UI interface
            window.swaggerUi = new SwaggerUi({
                url                   : url,
                dom_id                : "swagger-ui-container",
                supportedSubmitMethods: ['get', 'post', 'put', 'delete', 'patch', 'option'],
                onComplete            : function (swaggerApi, swaggerUi) {
                    log("Loaded SwaggerUI")
                    $('pre code').each(function (i, e) {
                        hljs.highlightBlock(e)
                    });

                    $('.response_throbber').attr('src', '{{hapiSwagger.endpoint}}/swaggerui/images/throbber.gif');
                },
                onFailure             : function (data) {
                    log("Unable to Load SwaggerUI");
                },
                docExpansion          : "list"
            });
            window.swaggerUi.load();


            // get the value of a querystring in this case for 'tags'
            function getQueryStringValue(name) {
                var nameValue = null,
                        winURL = window.location.href;

                if (winURL && winURL.indexOf('?') > -1) {
                    var queryStringArray = winURL.split("?")[1];
                    queryStringParamArray = [queryStringArray]
                    if (queryStringArray.indexOf('&') > -1) {
                        queryStringParamArray = queryStringArray[1].split("&");
                    }
                    for (var i = 0; i < queryStringParamArray.length; i++) {
                        queryStringNameValueArray = queryStringParamArray[i].split("=");
                        if (name == queryStringNameValueArray[0]) {
                            nameValue = queryStringNameValueArray[1];
                        }
                    }
                    return nameValue;
                }
                return nameValue;
            }


        });

        function logout() {
            var url = "{{logoutEndpoint}}";
            $.ajax({
                type    : "POST", 		//GET or POST or PUT or DELETE verb
                url     : url, 		// Location of the service
                data    : {}, 		//Data sent to server
                dataType: "json", 	//Expected data format from server
                success : function (response) {//On Successful service call
                    location.reload();
                },
                error   : function (err) {// When Service call fails
                    console.log(err);
                }
            });
        }
        ;
    </script>
    <style>
        .apititle {
            font-size: 20px;
            font-weight: 500;
            margin-left: 150px;
            position: absolute;
            top: 25px
        }

        #header {
            padding: 5px;
        }

        .logout {
            background-color: #10a54a;
            color: #ffffff;
            padding: 7px;
            font-size: 12px;
            border: 0px;

        }

        .logout:hover, .logout:focus {

            color: #ffffff;

        }
    </style>
</head>
<body>
<div class="wrapper">

    <div id='header'>
        <div class="swagger-ui-wrap">
            <a> <img src="{{logourl}}" height="40" width="100">
            </a>
            <span class="apititle"> {{name}}  {{apiVersion}} </span>
            {{#if loginRequired}}
            <button class="btn btn-success logout" data-style="slide-down"
                    onclick="logout()" style="float: right"> Logout
            </button>
            {{/if}}
            <a id="popUp">CodeGen</a>
        </div>

    </div>

    <section id="swagger">
        <div id="message-bar" class="swagger-ui-wrap"></div>
        <div id="swagger-ui-container" class="swagger-ui-wrap"></div>
    </section>

</div>
<div class="modalScr">
    <div class="modalCon">
        <span class="close">x</span>

        <div class="modalTitle">
            <h2>CodeGen:</h2>
        </div>
        <div class="modalMain">
            <ul>
                <li>
                    <div class="msgBx">
                        <label>Name Space:</label><input id="namespace" type="text"/>
                    </div>
                </li>
                <li>
                    <label>Platform:</label>
                    <select id="platform">
                        <option value="AND">Android</option>
                        <option value="IOS">Ios</option>
                    </select>
                </li>
                <li>
                    <button type="submit" id="downBtn">Download</button>
                    <div class="loader"></div>
                    <div class="txtMsg"></div>
                </li>
            </ul>

        </div>
    </div>
</div>


<script>
    var modal = document.querySelector(".modalScr"),
            modalCon = document.querySelector(".modalCon"),
            closeIco = document.querySelector(".close"),
            popBtn = document.getElementById("popUp"),
            openLoader = document.getElementById("downBtn"),
            shoTxt;
    popBtn.onclick = function () {
        modal.style.display = "block";
        //
    };
    openLoader.onclick = function () {
        // git
        document.querySelector(".txtMsg").style.display = "none";
        document.querySelector(".loader").style.visibility = "visible";
        $.ajax({
            type    : "POST", 		//GET or POST or PUT or DELETE verb
            url     : "/_getHmDTO", 		// Location of the service
            data    : {pl: $("#platform").val(), pkgName: $("#namespace").val()}, 		//Data sent to server
            dataType: "json", 	//Expected data format from server
            success : function (response) {//On Successful service call
                window.open(response.url);

            },
            error   : function (err) {// When Service call fails
                $(".txtMsg").innerHTML("failed");
            }
        });


       // shoTxt = setTimeout(showMsg, 1500);
    };
    function showMsg() {
        document.querySelector(".loader").style.visibility = "hidden";
        document.querySelector(".txtMsg").style.display = "block";
    }
    ;
    closeIco.onclick = function () {
        modal.style.display = "none";
        document.querySelector(".txtMsg").style.display = "none";
    };
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
            document.querySelector(".txtMsg").style.display = "none";
        }
    };
    document.querySelector(".modalMain select").onclick = function () {
        document.querySelector(".txtMsg").style.display = "none";
    }

</script>
</body>
</html>
